<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>places</key>
	<string>AIzaSyCzi3GM9L6MS_JwSJ64z8ONwHafNjJZ0Go</string>
	<key>forecast.io</key>
	<string>161e986226fa2d319bad173011bdd244</string>
</dict>
</plist>
